<div class="jumbotron">
  <h2 class="display-4">Hello, Jungle shoppers!</h2>
  <p class="lead">Get all your plants and plant stuff here!</p>
  <hr class="my-4">
  <p>Lots of plants to choose from!</p>
  <p class="lead">
  <%= link_to "Get Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </p>
</div>